.DS_Store

# Profiling
*.lprof
*.prof

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# customs
_*
!__init__.py
#test/
.png
.pdf


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# figures pdf


